{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": false,
  "object-curly-newline": "always",
  "bracketSpacing": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "arrowParens": "always",
  "bracketSameLine": false,
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
